### Data Exploration for Foundations in Data Science Team Project
Start by reading in the pickle file from the data load

In [ ]:
sx ls ../data

In [1]:
import pickle
import os
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
from sklearn.decomposition import PCA

df = pd.read_pickle('../data/cleandf.pkl')

In [2]:
df.head(4)

,control,age1_x,metro3,region,l_med_x,fmr_x,l_30_x,l_50_x,l_80_x,i_pov_x,...,in91_hud_med,in93_hud_med,in95_hud_med,in97_hud_med,in99_hud_med,in01_hud_med,in03_hud_med,in05_hud_med,in07_hud_med,in09_hud_med
0,54288,82,'3','1',73738,956,15738,26213,40322,11067,...,38000,34800,35700,39100,42400,45600,43800,46350,45200.0,50800.0
1,54290,50,'5','3',55846,1100,17165,28604,45744,24218,...,38000,34800,35700,39100,42400,45600,43800,46350,45200.0,50800.0
2,54291,53,'5','3',55846,1100,13750,22897,36614,15470,...,38000,34800,35700,39100,42400,45600,43800,46350,45200.0,50800.0
3,54295,67,'5','3',55846,949,13750,22897,36614,13964,...,38000,34800,35700,39100,42400,45600,43800,46350,45200.0,50800.0

In [ ]:
new_df = df.filter(regex='zinc2_x|hud_med')
new_df.head(4)
new_df.describe()

In [ ]:
corr_new_df = new_df.corr(method='pearson')
print('----------Correlations using Pearson Method----------')
print(corr_new_df)
print('----------Heatmap based on above correlations----------')
mask = np.zeros_like(corr_new_df)
mask[np.triu_indices_from(mask)] = True
seaborn.heatmap(corr_new_df, cmap='RdYlGn_r', vmax=1.0, vmin=-1.0, mask = mask, linewidths=2.5)

plt.yticks(rotation=0) 
plt.xticks(rotation=90) 
plt.show()

In [ ]:
# investigate own_rent
df.own_rent_x.unique()

In [3]:
# Seperate out the features and set OWN_RENT_X as the target
df_y = df['own_rent_y']

In [4]:
#features = ['age1_x', 'other_cost_x', 'cost06', 'cost12', 'cost_08_x', 'cost_med_x', 'tot_sal_x', 'assisted_x', 'gl_med_x', 'gl_30_x', 'gl_50_x', 'gl_80_x', 'apl_med_x', 'abl_30_x', 'abl_50_x', 'abl_80_x', 'abl_med_x', 'burden_x', 'cost_med_rel_fmr_cat', 'msa', 'wgt_metro', 'per_y', 'zinc2_y', 'zsmhc_y', 'age1_y', 'structure_type_y', 'utility_y', 'other_cost_y', 'cost_06', 'cost_12', 'cost_08_y', 'cost_med_y', 'tot_sal_y', 'assisted_y', 'i_pov_y’, ’l_med_y', 'l_50_y', 'l_80_y', 'fmr_y', 'gl_med_y', 'gl_30_y', 'l_30_y', 'gl_50_y', 'gl_80_y', 'apl_med_y', 'abl_30_y', 'abl_50_y', 'abl_80_y', 'abl_med_y', 'burden_y', 'inc_rel_ami_pct_y', 'inc_pel_ami_cat', 'inc_rel_pov_pct_y', 'inc_rel_pov_cat_y', 'inc_rel_fmr_pct_y', 'inc_rel_fmr_cat_y', 'cost12_rel_ami_pct_y', 'cost12_rel_ami_cat_y', 'cost12_rel_pov_pct_y', 'cost12_rel_pov_cat_y', 'cost12_rel_fmr_pct_y', 'cost12_rel_fmr_cat_y', 'cost_med_rel_ami_pct_y', 'cost_med_rel_ami_cat_y', 'cost_med_rel_pov_pct_y', 'cost_med_rel_pov_cat_y', 'cost_med_rel_fmr_pct_y', 'cost_med_rel_fmr_pct_y', 'in09_smsa', 'in09_hud_med']
features = ['cost_med_rel_fmr_cat', 'msa', 'wgt_metro', 'per_y', 'zinc2_y', 'zsmhc_y', 'age1_y', 'structure_type_y', 'utility_y', 'other_cost_y', 'cost_06', 'cost_12', 'cost_08_y', 'cost_med_y', 'tot_sal_y', 'assisted_y', 'i_pov_y’, ’l_med_y', 'l_50_y', 'l_80_y', 'fmr_y', 'gl_med_y', 'gl_30_y', 'l_30_y', 'gl_50_y', 'gl_80_y', 'apl_med_y', 'abl_30_y', 'abl_50_y', 'abl_80_y', 'abl_med_y', 'burden_y', 'inc_rel_ami_pct_y', 'inc_pel_ami_cat', 'inc_rel_pov_pct_y', 'inc_rel_pov_cat_y', 'inc_rel_fmr_pct_y', 'inc_rel_fmr_cat_y', 'cost12_rel_ami_pct_y', 'cost12_rel_ami_cat_y', 'cost12_rel_pov_pct_y', 'cost12_rel_pov_cat_y', 'cost12_rel_fmr_pct_y', 'in09_smsa', 'in09_hud_med']

df_x = df.loc[:, features].values
df_x

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

array([[2.00000000e+00, 5.00000000e+03, 8.73531994e+02, ...,
        1.09431696e+02, 5.00000000e+03, 5.08000000e+04],
       [2.00000000e+00, 5.00000000e+03, 7.61134617e+02, ...,
        9.91087344e+01, 5.00000000e+03, 5.08000000e+04],
       [2.00000000e+00, 5.00000000e+03, 8.67961424e+02, ...,
        2.91288236e+02, 5.00000000e+03, 5.08000000e+04],
       ...,
       [2.00000000e+00, 4.12000000e+03, 2.59964915e+02, ...,
        1.17679692e+02, 4.12000000e+03, 5.53666700e+04],
       [2.00000000e+00, 4.12000000e+03, 2.34389546e+02, ...,
        7.41541353e+01, 4.12000000e+03, 5.53666700e+04],
       [1.00000000e+00, 4.12000000e+03, 2.34389546e+02, ...,
        7.96296296e+01, 4.12000000e+03, 5.53666700e+04]])

In [5]:
df_features = pd.DataFrame(df_x)
df_next = df_features.replace([np.inf, -np.inf], np.nan)
#df_features.head(1000)
#df_cleaned = df_features.dropna(how='any')

In [6]:
df_next.describe()
df_cleaned = df_next.dropna(how='any') 
df_cleaned.isna().all()
df_cleaned = np.ndarray(df_cleaned)

In [8]:
np.nan_to_num(df_x)

array([[2.00000000e+00, 5.00000000e+03, 8.73531994e+02, ...,
        1.09431696e+02, 5.00000000e+03, 5.08000000e+04],
       [2.00000000e+00, 5.00000000e+03, 7.61134617e+02, ...,
        9.91087344e+01, 5.00000000e+03, 5.08000000e+04],
       [2.00000000e+00, 5.00000000e+03, 8.67961424e+02, ...,
        2.91288236e+02, 5.00000000e+03, 5.08000000e+04],
       ...,
       [2.00000000e+00, 4.12000000e+03, 2.59964915e+02, ...,
        1.17679692e+02, 4.12000000e+03, 5.53666700e+04],
       [2.00000000e+00, 4.12000000e+03, 2.34389546e+02, ...,
        7.41541353e+01, 4.12000000e+03, 5.53666700e+04],
       [1.00000000e+00, 4.12000000e+03, 2.34389546e+02, ...,
        7.96296296e+01, 4.12000000e+03, 5.53666700e+04]])

In [9]:
from sklearn.preprocessing import StandardScaler
df_cleaned = StandardScaler().fit_transform(df_x)

/anaconda3/lib/python3.7/site-packages/sklearn/utils/extmath.py:776: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/anaconda3/lib/python3.7/site-packages/sklearn/utils/extmath.py:781: RuntimeWarning: Degrees of freedom <= 0 for slice.
  new_unnormalized_variance = np.nanvar(X, axis=0) * new_sample_count

In [10]:
from sklearn.decomposition import PCA
pca = PCA(n_components=10)
principalComponents = pca.fit_transform(df_cleaned)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2', 'principal component 3', 'principal component 4', 'principal component 5', 'principal component 6', 'principal component 7', 'principal component 8', 'principal component 9', 'principal component 10'])